
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

/*Flexible box styles*/
.flexContainer {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row nowrap*/
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
}

.flexItem {

    width: 100px;
}

/*other styles*/
.parent {
    border: 10px solid blue;
    background-color: dodgerblue;
    padding: 20px;
}

.child {

    background-color: orange;


    color: white;
    text-align: center;
    font-size: 36px;
    width: 120px;
    padding: 20px;
}

.child:nth-child(even) {
    border-color: darkviolet;
    background-color: #d06dff;
}
