* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#pageHeader {
    padding: 10px 40px;

    background-color: #818181;
    color: white;
    font-family: sans-serif;
}

.navList {
    padding: 20px 0;
}

.navListItem {
    padding: 20px 40px;
    display: inline-block;
    border: 1px solid white;
}


.logoWrapper {
    overflow: hidden;
}

.logoWrapper > img {
    height: 60px;
}


.headerFlexItem {
    flex-grow: 0.5;
}


