* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    background: dodgerblue;
    border: 10px solid blue;
    height: 100vh;
}

.child {
    border: 10px solid red;
    background: orange;
    padding: 40px;
    color: white;
    font-size: 36px;
    margin: 20px;
}

/*FLEXIBLE BOX LAYOUT*/
.flexContainer {
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.flexItem {

}

